/********

Cabeçalho do site - menu 


*********/

header img {
    height: 70px;
    width: 70px;
}



/******************

Conteudo

************/

/**/

#section-vendidos {
    text-align: center;
}

#section-vendidos h2 {
    text-align: center;
    font-weight: bold;

    padding: 20px;
}

#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section-vendidos .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

/*************
    Rodape
*************/

footer {
    text-align: center;
}

footer p {
    text-align: center;
    font-weight: bold;

    padding: 10px;
}

/*Botão ao Voltar topo*/

#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;

}

/* ****************
    página de login
    
    ********************/

#section-login h1 {
    text-align: center;

}

#section-login input {
    width: 100%;

}

#section-banners img {
    height: 500px;
}


/* Box de informações de cadastro*/
#panel,
#flip {
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

#panel {
    padding: 50px;
    display: none;
}